body {
  background-color: #797a9e;
  font-family: "Nunito", sans-serif;
  color: beige;
  font-size: 5rem;
  font-weight: 900;
}

.wrapper {
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.text {
  text-shadow: 0px 0px 2px rgb(57, 56, 56);
  padding: 150px;
}
