:root {
  --base: rgb(241, 202, 28);
  --spacing: 0px;
  --blur: 0px;
}

body {
  background-color: #193349;
  color: white;
  font-family: "Nunito", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputs {
  margin-bottom: 15px;
}

img {
  margin-top: 10px;
  max-height: 350px;
  max-width: 400px;
  border: 35px solid;
  border-color: var(--base);
  border-radius: 10%;
  padding: var(--spacing);
  filter: blur(var(--blur));
}

label {
  font-size: 1.25rem;
  font-style: italic;
}

.header-text-one {
  color: white;
}

.header-text-two {
  color: var(--base);
}

#spacing {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  background: #a0a0a0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
  top: -5px;
}
#spacing:hover {
  opacity: 1;
}

#spacing::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #a0a0a0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#blur {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  background: #a0a0a0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
  top: -5px;
}
#blur:hover {
  opacity: 1;
}

#blur::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #a0a0a0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#base {
  border: none;
  border-radius: 10%;
  background-color: #a0a0a0;
  height: 22px;
}
