body {
  background-color: aquamarine;
  font-family: "Nunito";
  text-align: justify;
}

h1 {
  text-align: center;
}
.box {
  width: 700px;
  margin: auto;
  background-color: white;
  padding: 10px 30px;
}
.align-left {
  float: left;
  padding: 20px 20px 20px 0px;
  transition: transform 0.7s, opacity 1s;
  transition-timing-function: ease-in;
  transform: translateX(-150%);
  opacity: 20%;
}

.align-right {
  float: right;
  padding: 20px 0px 20px 20px;
  transition: transform 0.7s, opacity 1s;
  transition-timing-function: ease-in;
  transform: translateX(150%);
  opacity: 20%;
}
